@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{

}


.hero{
  background-image: url("./Assets/images/hero-pattern.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 100px right;
}

.navbar-links {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}